.login {
  width: 25%;
  height: 50%;
  margin-left: 37.5%;
  margin-top: 15%;
}
.button {
  color: rgb(156, 37, 83);
}
@media screen and (max-width: 600px) {
  .login {
    margin-left: 20%;
    width: 60%;
    height: 50%;
  }
}
