nav {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  position: relative;
  z-index: 99;
}

.fas {
  cursor: pointer;
}

.logo {
  font-weight: 600;
  font-size: 25px;
  color: rgb(100, 17, 49);
  transform: translateY(10%);
  transition: transform 0.15s ease-in;
}
.logo:hover {
  transform: translateY(0%);
}

.logo font {
  color: #fff;
}

.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .menu-list li:last-child a {
  font-weight: 300;
  padding: 5px 10px;
  background-color: rgb(100, 17, 49);
  transition: all 0.5s ease-in-out;
  margin-left: 20px;
  border-radius: 2px;
} */

.menu-list li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding: 5px 10px;
  margin-left: 20px;
}

.menu-list li a:hover {
  background-color: #fff;
  color: #000;
}
.menu-list li a.active {
  background-color: rgb(100, 17, 49);
  border-radius: 2px;
  color: #fff;
  transition: all 0.25s ease-in-out;
  transform: translateY(0%);
}

@media screen and (max-width: 800px) {
  .logo {
    font-size: 20px;
  }
  .menu-list li a {
    font-size: 14px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .menu-icon {
    display: block;
  }
}
.navlink {
  text-decoration: none;
}
